html {
    font-family: 'Inter';
    font-size: normal;
}
body {
    background: #E5E5E5;
}
.conteudo {
    padding: 30px 30px 0px 30px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    max-height: 1024px;
    margin-left: auto;
    margin-right: auto;
}
article {
    padding: 1.5px 5px;
    margin: 1.5px 5px;
}
.cabecalho {
    width: 120px;
    text-align: center;
}
.logo {
    margin: 40px;
}

.bloco-esquerdo {
    width: 680px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.entrada-texto {
    background: #E5E5E5;
    width: 680px;
    height: 100%;
    border: none;
    resize: none;
    outline: none;
    padding: 2px;
}
.entrada-texto::placeholder {
    padding: 20% 0;
}
.caixa-aviso {
    display: flex;
    margin: 16px 0 16px;
}
.aviso-logo {
    width: 16px;
    height: 16px;
}
.aviso-texto {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}
.caixa-botoes {
    display: flex;
    justify-content: space-between;
}
.botao-cript {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
    background: #0A3871;
    border: 1px solid #0A3871;

    width: 328px;
    height: 67px;
    border-radius: 24px;
}
.botao-cript:hover {
    background: #072B61;
}
.botao-descript {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #0A3871;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    
    width: 328px;
    height: 67px;
    border-radius: 24px;
}
.botao-descript:hover {
    background: #EFF1FA;
}
.bloco-direito {
    width: 400px;
}
.retangulo {
    padding: 22px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    
    display: flex;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    width: 379px;
    height: 508px;
}
.logo-nao-encontrado {
    width: 336px;
    height: 304px;  
}
.caixa-alerta {
    display: flex;
    flex-direction: column;
    margin: 32px 0 32px;
    width: 336px;
}
.nota {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    margin-bottom: 16px;
}
.descricao {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}
.com-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-block: box-sizing;
    min-height: 379px;
}
.saida-texto {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;

    color: #495057;
    max-width: 336px;
    border: none;
    resize: none;
    outline: none;
    margin-bottom: 32px;
    word-break: break-word;
}
.botao-copiar {
    background: #FFFFFF;
    color: #0A3871;
    width: 336px;
    height: 67px;

    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
    font-size: 16px;
    line-height: 19px;

    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 8px;
}
.botao-copiar:hover {
    background: #D8DFE8;
}
.rodape {
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 1440px;
    padding: 10px 20px;
    margin: 10px 20px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    display: flex;
    align-items: center;
}
li {
    font-weight: 700;
    display: inline;
    margin: 0 10px 0 10px;
}
.sombra-caixa {
    box-shadow: 2px 4px 8px #585858;
}